* {-webkit-padding-start: 0px;}
body {
    background: url("unit1_projects/images/pentagon.png");
    background-repeat: repeat;
    font-family: 'Droid Sans', sans-serif;
}
.name {
    font-family:'Exo', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 50px;
}
.name span {
    font-weight: 800;
}
/* Glyph, by Harry Roberts */
		
hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
    margin: 0 400px 0 400px;
}
.links {
    float: left;
    padding-right: 10px;
    border-right: 3px solid black;
}
.links li {
	list-style-type: none;
    padding: 0px 0px 0px 0px;
    margin: 0 0 0 0;
    font-size: 20px;
}

.sidebar{
	float:right;
	border-left: 3px solid black; 
}
.sidebar li{
	list-style-type: none;
	padding: 0px 0px 0px 0px;
	margin: 0 0 0 0;
	font-size: 20px;
}
.sidebar a{
	padding: 0 0 0 20px;
}
.sidebar h3{
	padding-left: 10px;
}
.content{
	position: relative;
	float:left;
	width: 900px;
	text-align: justify;
	padding-left: 10px;
}
.footer p{
	font-size: 12px;
	text-align: center;
	bottom: 250px;
	padding: 0;
	margin: 0;
}
