img {
  max-width: 100%;
  max-height: 100%;
}
h6 {
  color: gray;
}
#profile-pic {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  background: url(/imgs/profile.jpg) no-repeat;
  background-size: 100%;
}


#resume-list{
	padding: 0;
	margin: 0;
	display: inline-block;
	list-style-type: none;
}

#resume-list a{
	   float:left;
    vertical-align:bottom;
}
#resume-list img{
	padding-right: 10px;
	float:left;
    vertical-align:bottom;
}

#resume-list:after {
    content:'';
    display:block;
    clear: both;
}

#projects{
  color:black;
}

#resume-download{
  float:right;
}

.posts{
  border: 5px dotted rgba(255,255,255,0.25);
  background-color: rgba(255,0,0,0.1);
}

.sidebar-nav-item{
  opacity: 0;
}
