body {
    font-size: 105%;
}
h1 {
    float: none;
}
header h1 {
    background: none;
    padding-left: 0px;
}
.nav li {
    float: none;
}
.nav li a {
    color: #fff;
    margin: 0 0px;
    /*padding: 5px 10px;*/
    text-decoration: none;
}
header .nav {
    float: none;
    margin-left: 0px;
}
header .nav li {
    line-height: 50px;
}
article {
    clear: both;
    width: 50%;
}
h2 {
    float: left;
    margin-left: 6.5em;
    font-size: 1.9em;
}
