header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 15em;
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-position: bottom;
    border-bottom: 5px groove;

}
h1 {
    font-size: 48px;
    float: right;
    margin: 40px 10px 0 0;
}
body {
    background: rgba(0,0,0,0.1);
    font: 300 14px/21px"Helvetica Neue", "Helvetica", Arial, sans-serif;
    padding: 2em 0;
}
.mainwrap {
    margin: 200px auto 0 auto;
}
.wrapper {
    width: 700px;
    overflow: auto;
    margin: 20px 20px 50px 300px;
    padding: 15px 0 0 15px;
	background-color: white;
    border-radius: 15px;
    
}
aside {
    float: left;
    position: fixed;
    margin-left: 50px;
    border-right: 1px dotted black;
    padding: 0 20px 50px 0;
}
aside ul li {
    padding: 5px;
    border: 1px solid black;
    background-color: rgba(0,0,0,0.25);
    margin: 5px;
}
aside ul li:hover{
    background-color: #eaeaea;
    text-align: center;
    border: none;
}
aside ul li a:hover{
    color:black;

}
i {
    font-style: italic;
}
sup {
    vertical-align: super;
    font-size: 9px;
}
.meta {
    font-size: 13px;
    float: right;
    margin-bottom: 20px;
    padding-top: 5px;
    line-height: 3px;
}
.body {
    clear: both;
}
article h2 {
    font-size: 30px;
    line-height: 1em;
}
article #images {
    width: 160px;
    height: 120px;
    border: 1px solid black;
    border-radius: 8px;
    float: left;
    margin-right: 20px;
    padding: 2px;
}
.preview {
    float: left;
    width: 500px;
}
.preview hr {
    margin: 5px 0 0 0;
    padding: 0;
}
.continue {
    float: right;
}

footer p{
    line-height: 14px;
    font-style: italic;
    font-size: 12px;
    text-align: center;
}
